body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black !important;
    background: black !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
html, body {
    height: 100%;
}

.container {
    width: 1025px;
}

.vertical-center {
    height: 100%;
    width: 100%;
    text-align: center; /* align the inline(-block) elements horizontally */
    font: 0/0 a; /* remove the gap between inline(-block) elements */
}

    .vertical-center:before { /* create a full-height inline block pseudo=element */
        content: ' ';
        display: inline-block;
        vertical-align: middle; /* vertical alignment of the inline element */
        height: 100%;
    }

    .vertical-center > .container {
        max-width: 100%;
        background-color: gold;
        display: inline-block;
        vertical-align: middle; /* vertical alignment of the inline element */
        font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif; /* <-- reset the font property */
    }
